.header{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
}
.navlinks{
  font-size: 27px;
  text-decoration: none;
  color: black;
  font-family: IBM Plex Serif
}

/* Home Page Styling */
.homepage{
  text-align: center;
  font-family: IBM Plex Serif;
  margin-top: 100px;
  
}
#greeting{
  font-size: 55px;
}
#hometext{
  width: 50%;
  margin:auto;
  padding-bottom: 50px;
  font-size: 23px;
}
#profilepicture{
  height: 450px;
  border-radius: 50%;
}