/* Header Styling */
.header{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
}
.navlinks{
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-family: IBM Plex Serif;
  display: inline-block;
  width: 150px;
  height: 40px; 
  min-width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.navlinks:hover, .navlinks.active{
  border-radius:50%;
  width: 150px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  align-items: center;
  appearance: none;
  background-image:linear-gradient(91.9deg, rgb(33, 228, 246) 27.8%, rgb(93, 248, 219) 67%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: Black;
  cursor: pointer;
  display: inline-flex;
  font-family: IBM Plex Serif;
  font-size: 25px;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.navlinks:not(:hover):not(.active) {
  width: 150px; 
}


/* Home Page Styling */
.homepage, .aboutme{
  text-align: center;
  font-family: IBM Plex Serif;
  margin-top: 100px;
}
#greeting{
  font-size: 55px;
}
#hometext{
  width: 50%;
  margin:auto;
  padding-bottom: 50px;
  font-size: 23px;
}
#profilepicture{
  height: 450px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(22, 12, 12, 0.2)
}


/* Icons Footer styling */
.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottomIcons{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.bottomIcons img {
  margin: 0 10px; 
}

/* About Me page styling */
.aboutme{
  margin-top:200px;
  width: 50%;
  margin:auto;
  font-size: 23px;
  border: 4px solid;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient( rgb(93, 248, 219), rgb(33, 228, 246)) 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}
#makespace{
  margin-top:30px;
}
#icons{
  display: flex;
  justify-content: space-between;
  margin:auto;
  width: 50%;
  padding-bottom:20px
}
#aboutmepicture{
  display: flex;
  justify-content: space-between;
  margin:auto;
  height: 200px;
  border-radius: 50%;
  margin-bottom:22px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
}


/* Projects Page Styling */
.sidenav{
  margin-top: 70px;
  margin-left: 40px;
  border: solid; 
  display: inline-block;
  width: 20%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
}
.title{
  border-bottom: solid;
  background: linear-gradient(91.9deg, rgb(33, 228, 246) 27.8%, rgb(93, 248, 219) 67%);
  padding: 10px;
  margin: 0;
  font-size: 25px;
  font-family: IBM Plex Serif;
}
.projects{
  border-bottom: solid;
  text-align: center; 
  margin: 0;
  font-family: IBM Plex Serif;
  font-size: 20px;
  padding-top:3px;
  padding-bottom:3px;
}


/* Contact Me Form styling */
#form{ 
  padding-top: 22px;
  margin: 0 auto; 
  width: 90%; 
  max-width: 400px;
  font-size: 25px;
  padding-bottom: 100px;
  padding-top: 90px;
}
.contactContainer {
  text-align: center;
}
.inputField {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 15px;
  border: 1.5px solid black;
  border-radius: 5px;
  font-family: IBM Plex Serif;
  outline: none;
}
.submitButton {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 25px;
  font-family: IBM Plex Serif;
  background-color: #1bc4ca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: #159494;
}