.header{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
}
.navlinks{
  font-size: 27px;
  text-decoration: none;
  color: black;
  font-family: IBM Plex Serif
}

/* Home Page Styling */
.homepage, .aboutme{
  text-align: center;
  font-family: IBM Plex Serif;
  margin-top: 100px;
}
#greeting{
  font-size: 55px;
}
#hometext{
  width: 50%;
  margin:auto;
  padding-bottom: 50px;
  font-size: 23px;
}
#profilepicture{
  height: 450px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(22, 12, 12, 0.2)
}


/* Icons Footer styling */
.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottomIcons{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.bottomIcons img {
  margin: 0 10px; 
}

/* About Me page styling */
.aboutme{
  margin-top:200px;
  width: 50%;
  margin:auto;
  font-size: 23px;
  border:solid;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right,  rgb(93, 248, 219), rgb(33, 228, 246)) 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
}
#makespace{
  margin-top:30px;
}
#icons{
  display: flex;
  justify-content: space-between;
  margin:auto;
  width: 50%;
  padding-bottom:20px
}
#aboutmepicture{
  display: flex;
  justify-content: space-between;
  margin:auto;
  height: 200px;
  border-radius: 50%;
  margin-bottom:22px
}